<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    </appender>

    <appender name="CUSTOM" class="com.specificgroup.gateway.config.KafkaCustomLoggerAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" level="INFO"/>
        <appender-ref ref="CUSTOM"/>
    </root>

</configuration>