body {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.form {
    background-color: #ffffff;
    border-radius: 20px;
    box-sizing: border-box;
    height: 1000px;
    padding: 20px;
    width: 1000px;
}

.form-create {
    background-color: #ffffff;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 500px;
}

.login-form {
    background-color: #ffffff;
    border-radius: 20px;
    box-sizing: border-box;
    height: 370px;
    padding: 20px;
    width: 400px;
}

.title {
    color: #000000;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}

.subtitle {
    color: #000000;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.login-subtitle {
    color: #000000;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}
.login-subtitle-edit {
    color: #000000;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    background-color: #d0dFE8;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #000000;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cut-short {
    width: 50px;
}
.cut-recent {
    width: 57px;
}

.cut-new {
    width: 40px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(4px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}

.input:focus ~ .placeholder {
    color: #0f8fec;
}

.submit {
    border-bottom: 4px solid #0f2e80;
    background: #142bc6;
    border-radius: 20px;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
}

.submit:hover {
    background: #0f8fec;
}

.submit:active {
    background-color: #06b;
}

.login-submit {
    border-bottom: 4px solid #0f2e80;
    background: #142bc6;
    border-radius: 20px;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 70px;
    outline: 0;
    text-align: center;
    width: 100%;
}

.login-submit:hover {
    background: #0f8fec;
}

.login-submit:active {
    background-color: #06b;
}

.error-list {
    font-family: sans-serif;
    font-size: 1.1em;
    width: 535px;
    max-width: 600px;
    margin-left: -17px;
}

.error-list-add-outer {
    font-family: sans-serif;
    font-size: 1.1em;
    width: 1000px;
    margin-left: -17px;
    padding-top: 20px;
}

.error-list:focus {
    outline: none;
}

.error-list div {
    position: relative;
    background-color: #fff;
    color: #d00d0d;
    margin: 16px;
    border-radius: 20px;
    line-height: 3em;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.error-list-login {
    font-family: sans-serif;
    font-size: 25px;
    width: 400px;
    margin-left: -17px;
    position: relative;
    background-color: #fff;
    color: #d00d0d;
    border-radius: 10px;
    line-height: 3em;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
    overflow: auto;
    text-align: left;
}

.error-list-add {
    font-family: sans-serif;
    font-size: 25px;
    width: 1000px;
    position: relative;
    background-color: #fff;
    color: #d00d0d;
    border-radius: 10px;
    line-height: 3em;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
    overflow: auto;
    text-align: left;
    margin-top: 15px;
}
